body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  h2 {
    font-weight: bold;
    font-size: 2em;
  }
  p {
    font-size: 13px;
    color: #6a6a6a;
    strong {
      color: #000;
    }
  }
}
.pointer {
  cursor: pointer;
}
.css-L1 {
  width: 14px;
  height: 14px;
  background: #e38627;
  border-radius: 4px;
  float: left;
  margin-top: 5px;
  margin-right: 8px;
}
.css-L2 {
  width: 14px;
  height: 14px;
  background: #c13c37;
  border-radius: 4px;
  float: left;
  margin-top: 5px;
  margin-right: 8px;
}
.css-L3 {
  width: 14px;
  height: 14px;
  background: #198754;
  border-radius: 4px;
  float: left;
  margin-top: 5px;
  margin-right: 8px;
}
.css-L4 {
  width: 14px;
  height: 14px;
  background: #0d6efd;
  border-radius: 4px;
  float: left;
  margin-top: 5px;
  margin-right: 8px;
}
.css-L5 {
  width: 14px;
  height: 14px;
  background: #c0ff00;
  border-radius: 4px;
  float: left;
  margin-top: 5px;
  margin-right: 8px;
}
.css-L6 {
  width: 14px;
  height: 14px;
  background: #e98afe;
  border-radius: 4px;
  float: left;
  margin-top: 5px;
  margin-right: 8px;
}
